Repository vtex-apps/store-theme, pull requests merged in 2018-09, with the labels that each got.

#75 Added page padding class to allow apps to have the same default padding.
  CHANGELOG.md
  react/store-global.css
Labels: enhancement

#81 Standalone Header
  CHANGELOG.md
  manifest.json
  pages/pages.json
Labels: dependency-change

#83 Removed Category Menu CSS class definition
  CHANGELOG.md
  react/store-global.css
Labels: bug

#80 Use the new footer app
  CHANGELOG.md
  manifest.json
  pages/pages.json
Labels: dependency-change
